{% extends 'layout.html.twig' %}

{% block content %}
    <!--<h1 class="cover-heading">Dashboard</h1>-->
    <p class="lead">If something would happen to me...</p>

    {% for wish in wishes %}
        <div class="row">
            <div class="col-xs-10">
                <div style="margin-right: 15px; float:left">
                    <img src="components/flat-ui/images/icons/svg/gift-box.svg" alt="Wish">
                </div>
                ...send to <strong>{{ wish.email() }}</strong> an email<br/>that starts with <strong>{{ wish.content() | slice(0, 100) }}...</strong>
            </div>
            <div class="col-xs-2 right">
                <a class="btn btn-primary btn-block" href="/story/{{ wish.id }}"><span class="fui-trash">Edit</span></a>
                <a class="btn btn-primary btn-block btn-danger" href="{{ path('delete-wish', {wishId: wish.id}) }}"><span class="fui-trash">Delete</span></a>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                ...do nothing, a bit sad.
            </div>
        </div>
    {% endfor %}

    <br/>
    <p class="lead">You have N more wishes, so add a new one...</p>
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="{{ path('add-wish') }}">
                To: <input class="form-control" placeholder="my-son@gmail.com" name="email" type="text" maxlength="255" /><br/>
                Message:<br/><textarea class="form-control" placeholder="If you are reading this..." name="content" type="text"></textarea> <br/>
                <button type="submit" class="btn btn-default">New wish</button>
            </form>
        </div>
    </div>
{% endblock %}
