<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Last Wishes</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/components/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/components/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/assets/app.css">

    <style>
        body { padding-top: 70px; }
        footer { margin-top: 40px; }
        .wish-image { width: 80px; height: 80px; }
        .wish-row { margin-bottom: 20px; }
        .wish-control { display:inline; width: 300px; }
        input.ng-invalid {
            color: #e74c3c;
            border-color: #e74c3c;
            box-shadow: none;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="lw">
    <div class="container">
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">LastWishes</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                {% if app.session.has('user') %}
                    <p class="navbar-text navbar-right">
                        <a href="{{ path('signout') }}">Bye!</a>
                    </p>
                    <p class="navbar-text navbar-right">
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </p>
                {% else %}
                    <p class="navbar-text navbar-right">
                        <a href="{{ path('signin') }}">Sign in</a>
                    </p>
                    <p class="navbar-text navbar-right">
                        <a href="{{ path('signup') }}">Sign up</a>
                    </p>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->

        {% if messages is defined %}
            {% for message in messages %}
                <div class="alert alert-{{ message.type | default('success') }}" role="alert">
                    {{ message.info }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        <div class="row">
            <div class="col-xs-12">
                <h1>LastWishes</h1>
                <p class="lead">
                    If something happen to you, your feelings won't be lost.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>How it Works</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="tile">
                    <img src="/components/flat-ui/images/icons/svg/pencils.svg" alt="Sign up" class="tile-image big-illustration">
                    <h3 class="tile-title">1. Sign Up</h3>
                    <p>So you would start to make wishes in case something happen to you.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="tile">
                    <img src="/components/flat-ui/images/icons/svg/gift-box.svg" alt="Make a wish" class="tile-image big-illustration">
                    <h3 class="tile-title">2. Make a wish</h3>
                    <p>Add a message you want to sent in case something happen.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="tile">
                    <img src="/components/flat-ui/images/icons/svg/loop.svg" alt="You're Ok!" class="tile-image big-illustration">
                    <h3 class="tile-title">3. Keep in touch</h3>
                    <p>Answer our emails or use our App to say you're ok.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="tile">
                    <img src="/components/flat-ui/images/icons/svg/retina.svg" alt="Grant your wishes" class="tile-image big-illustration">
                    <h3 class="tile-title">4. Grant wishes</h3>
                    <p>In case you're out, we'll deliver your messages and wishes.</p>
                </div>
            </div>
        </div>

        {% endblock %}
    </div>

    <footer>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/components/flat-ui/js/jquery-1.10.2.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/components/flat-ui/js/bootstrap.min.js"></script>
</body>
</html>
